<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <header>
      <div class="diver">
          <h1 class="head">Dan's Auto Shop</h1>
          <p>Maintenance Tracker App</p>
      </div>
    </header>

    <div class="">
    <ul>
      <li><a href="/user/requests/new">NEW REQUEST</a></li>
      <li><a href="/user/requests">OUTBOX</a></li>
      <li><a href="">INBOX</a></li>
      <li><a href="#about">LOGOUT</a></li>
    </ul>
    </div>
